@import "tailwindcss";

@theme {
  --color-dark: #333;

  @keyframes blink {
    0%,
    100% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
    40% {
      opacity: 1;
    }
  }

  --animate-blink-1: blink 1.4s infinite ease-in-out;
  --animate-blink-2: blink 1.4s infinite ease-in-out 0.2s;
  --animate-blink-3: blink 1.4s infinite ease-in-out 0.4s;
}

:root {
  --color-primary: #333;
  --color-background: #96d3b9;
}

body {
  color: var(--color-primary);
  background: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
}

.elf-message code {
  background: #fff;
  padding: 2px 4px;
  --tw-shadow-alpha: 30%;
  --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, oklab(from rgb(0 0 0 / 0.1) l a b / 30%)), 0 1px 2px -1px var(--tw-shadow-color, oklab(from rgb(0 0 0 / 0.1) l a b / 30%));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}
.elf-message pre {
  display: inline-block;
}

*:not(:hover) > .elf-hover-hide {
  display: none;
}

/* 
@theme {
  --color-light: #ffffff;
  --color-dark: #171717;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-light);
    background: var(--color-dark);
    font-family: Arial, Helvetica, sans-serif;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: var(--color-dark);
    background: var(--color-light);
    font-family: Arial, Helvetica, sans-serif;
  }
} */
